extends ../layouts/default
include ../mixins/process
include ../mixins/carouselreviews1
include ../mixins/tpreviews
include ../mixins/cta2
include ../mixins/postmeta
	
block headjs
	script(src="//widget.trustpilot.com/bootstrap/v5/tp.widget.sync.bootstrap.min.js", async)
		
block intro

	section.intro.green.text-center
		h1= data.awardsandreviews.title
		h3= data.awardsandreviews.longtitle
	div.grey
		.container
			ul.breadcrumb
				li: a(href='/about-us') About Us
				li /
				li= data.awardsandreviews.breadcrumbstitle
block content
	.container.text-center.col-md-12.p3rem
		.row
			.col-md-12
					<!-- TrustBox widget - Grid -->
					<div class="trustpilot-widget" data-locale="en-GB" data-template-id="539adbd6dec7e10e686debee" data-businessunit-id="57ff44480000ff000595f84b" data-style-height="600px" data-style-width="100%" data-stars="1,2,3,4,5" data-schema-type="Organization"><a href="https://uk.trustpilot.com/review/www.profilepensions.co.uk" target="_blank" rel="noopener">Trustpilot</a></div>
					<!-- End TrustBox widget -->
					<br />
	section.p3rem
		.container.text-center
			.col-md-12
				.row
					.col-md-4
						img.profilepension-awards__img(src="/images/WINNER-FXA17-3.png" alt="Financial Services Experience Awards")
						p!= data.awardsandreviews.s1content1
					.col-md-4
						img.profilepension-awards__img(src="/images/sundaytimes-best-small-companies-to-work-for.png" alt="The Sunday Times 100 Best Small Company")
						p!= data.awardsandreviews.s1content2
					.col-md-4
						img.profilepension-awards__img(src="/images/northern-tech-100.png" alt="Northern Tech 100")
						p!= data.awardsandreviews.s1content3
					.col-md-4
						img.profilepension-awards__img(src="/images/national-business-awards-1.png" alt="Lloyds Bank New Business of the Year")
						p!= data.awardsandreviews.s1content4
					.col-md-4
						img.profilepension-awards__img(src="/images/uk-customer-experience-awards-finalist.png" alt="UK Customer Experience Awards")
						p!= data.awardsandreviews.s1content5
					.col-md-4
						img.profilepension-awards__img(src="/images/moneyfact-finalist.png" alt="Retirement Adviser Of The Year")
						p!= data.awardsandreviews.s1content6
	+cta2()
