extends ../layouts/default
include ../mixins/cta
block metadata
	if  (data.complaintsprocess)
		title= data.complaintsprocess.metatitle || 'Profile Pension'
		meta(property='og:title', content="" +data.complaintsprocess.metatitle  )
		meta(name="twitter:title", content='#{data.complaintsprocess.metatwittertitle}' )
		meta(name="description" content='#{data.complaintsprocess.metadescription}' )
		meta(property="og:description" , content='#{data.complaintsprocess.metafbdescription}' )
		meta(name="twitter:description", content='#{data.complaintsprocess.metatwitterdescription}' )
		meta(property="og:image" content='#{data.complaintsprocess.metafbimageurl}' )
		meta(name="twitter:image:src" content='#{data.complaintsprocess.metatwitterdescription}' )
		meta(name="twitter:card" , content="#{data.complaintsprocess.metatwittercard}" )
		meta(name="keywords" content="#{data.complaintsprocess.metakeywords}" )
	else
		+postmeta()
block intro
	section.intro.green.text-center
		h1= data.complaintsprocess.title
		h3 
	section.grey
		ul.container.breadcrumb
			li= data.complaintsprocess.breadcrumbstitle
block content
	section.p3rem
		.row
			.col
				div!= data.complaintsprocess.content
	+cta

