extends ../layouts/default
block metadata
	if  (data.contact)
		title= data.category.metatitle || 'Profile Pension'
		meta(property='og:title', content="" +data.category.metatitle  )
		meta(name="twitter:title", content='#{data.category.metatwittertitle}' )
		meta(name="description" content='#{data.category.metadescription}' )
		meta(property="og:description" , content='#{data.category.metafbdescription}' )
		meta(name="twitter:description", content='#{data.category.metatwitterdescription}' )
		meta(property="og:image" content='#{data.category.metafbimageurl}' )
		meta(name="twitter:image:src" content='#{data.category.metatwitterdescription}' )
		meta(name="twitter:card" , content="#{data.category.metatwittercard}" )
		meta(name="keywords" content="#{data.category.metakeywords}" )
	else
		+postmeta()

block intro
	section.intro.green.text-center
		if data.categories.length
			each category in data.categories
				h1.col-md-12= category.name
				p.col-md-12!= category.description
	div.grey
		ul.container.breadcrumb
			if data.categories.length
				each category in data.categories
					li= category.name
	block content
		.container.p3rem
			.row.p3rem
				if data.categories.length
					each category in data.categories
						each contact in data.contacts
							.col: .card.grey
								div#prestonMap.map=contact.map
								div.adress-details.card-block
									h2= contact.bussinesoffice
									p= contact.bussinesname
									p= contact.address1
									p= contact.address2
									p= contact.city
									p= contact.postcode
									p: i.fa.fa-phone.text-green <a href="tel:+44#{contact.phone}" class="rTapNumber240596" > #{contact.phone}</a> 
									p: i.fa.fa-envelope.text-green <a href="mailto:#{contact.email}"> #{contact.email}</a>
			
	section.grey
		.container
			div.follow-us(style="padding: 4rem 0; margin-top:4rem;")
				h1 Follow us
				.row-centered
					<a href="https://www.facebook.com/ProfilePensions/"><i class="fa fa-facebook fa-2x"></i></a>
					<a href="https://twitter.com/profilepensions"><i class="fa fa-twitter fa-2x"></i></a>
					<a href="https://www.linkedin.com/company/profile-financial-solutions-ltd?trk=mini-profile"><i class="fa fa-linkedin icon fa-2x"></i></a>
					<a href=""><i class="fa fa-google fa-2x"></i></a>
				
		
