extends ../layouts/default
include ../mixins/cta

block metadata
	if  (data.category)
		title= data.category.metatitle || 'Profile Pension'
		meta(property='og:title', content="" +data.category.metatitle  )
		meta(name="twitter:title", content='#{data.category.metatwittertitle}' )
		meta(name="description" content='#{data.category.metadescription}' )
		meta(property="og:description" , content='#{data.category.metafbdescription}' )
		meta(name="twitter:description", content='#{data.category.metatwitterdescription}' )
		meta(property="og:image" content='#{data.category.metafbimageurl}' )
		meta(name="twitter:image:src" content='#{data.category.metatwitterdescription}' )
		meta(name="twitter:card" , content="#{data.category.metatwittercard}" )
		meta(name="keywords" content="#{data.category.metakeywords}" )
	else
		+postmeta()
block intro
	section.intro.green.text-center
		h1 Pensions We Review
	div.grey
		.container
			ul.breadcrumb
				li: a(href='/') Pension We Review

block content
	if data.categories.length
		each category in data.categories
			section.p3rem
				.container
					.row.text-center
						h2.col-md-12!= category.categorytitle
						p.col-md-12!= category.description
					.row.text-center
						each pension in data.pensions
							.col-lg-2.col-md-4.col-sm-6.col-xs-12.pension
								div.rounded-circle.green.pension-type
									a(href='/pension-types/' + pension.slug)
										div.pension-type__title= pension.title
					
			
	+cta()
