extends ../layouts/default
block metadata
	if  (data.pensioncalculator)
		title= data.pensioncalculator.metadata.metatitle || 'Profile Pension'
		meta(property='og:title' , content='' + data.pensioncalculator.metadata.metafbtitle + ''  )
		meta(name='twitter:title', content='' + data.pensioncalculator.metadata.metatwittertitle + '' )
		meta(name='description' content='' + data.pensioncalculator.metadata.metadescription + '' )
		meta(property='og:description' , content='' + data.pensioncalculator.metadata.metafbdescription + '' )
		meta(name='twitter:description', content='' + data.pensioncalculator.metadata.metatwitterdescription + '' )
		meta(property='og:image' content='' + data.pensioncalculator.metadata.metafbimageurl + '' )
		meta(name='twitter:image:src' content='' + data.pensioncalculator.metadata.metatwitterdescription + '' )
		meta(name='twitter:card' , content='' + data.pensioncalculator.metadata.metatwittercard + '' )
		meta(name='keywords' content='' + data.pensioncalculator.metadata.metakeywords + '' )
	else
		+postmeta()
block intro
	section.intro.green.text-center
		h1= data.pensioncalculator.title
		h3= data.pensioncalculator.longtitle
	div.grey
		ul.container.breadcrumb
			li= data.pensioncalculator.breadcrumbstitle
block content
	section.p3rem
		.container
			.row
				.col-md-6.col-sm-12
				.col-md-6.col-sm-12.text-center
					h2= data.pensioncalculator.pensionCalculatorTitle
					p!= data.pensioncalculator.pensionCalculatorContent
					a.btn.btn-lg.btn-primary(href='/'+data.pensioncalculator.pensionCalculatorButtonUrl , role='button')=data.pensioncalculator.pensionCalculatorButton
				
					
