extends ../layouts/default
include ../mixins/process
include ../mixins/carouselreviews
include ../mixins/tpreviews
include ../mixins/cta2
block metadata
	if  (data.pensiontracing)
		title= data.pensiontracing.metadata.metatitle || 'Profile Pension'
		meta(property='og:title' , content='' + data.pensiontracing.metadata.metafbtitle + ''  )
		meta(name='twitter:title', content='' + data.pensiontracing.metadata.metatwittertitle + '' )
		meta(name='description' content='' + data.pensiontracing.metadata.metadescription + '' )
		meta(property='og:description' , content='' + data.pensiontracing.metadata.metafbdescription + '' )
		meta(name='twitter:description', content='' + data.pensiontracing.metadata.metatwitterdescription + '' )
		meta(property='og:image' content='' + data.pensiontracing.metadata.metafbimageurl + '' )
		meta(name='twitter:image:src' content='' + data.pensiontracing.metadata.metatwitterdescription + '' )
		meta(name='twitter:card' , content='' + data.pensiontracing.metadata.metatwittercard + '' )
		meta(name='keywords' content='' + data.pensiontracing.metadata.metakeywords + '' )
	else
		+postmeta()
block intro
	section.intro.green.text-center
		h1= data.pensiontracing.longtitle
		h3= data.pensiontracing.subtitle
	div.grey
		ul.container.breadcrumb
			li= data.pensiontracing.breadcrumbstitle
block content
	section.p3rem
		.container
			.row
				.col-md-12!= data.pensiontracing.content
				
	+process()
	
	+carouselreviews()
	
	+tpreviews()
		
	+cta2()

