extends ../layouts/default
include ../mixins/cta2
block metadata
	if  data.pension.meta
		title= data.pension.metadata.metatitle || 'Profile Pension'
		meta(property='og:title' , content='' + data.pension.metadata.metafbtitle + ''  )
		meta(name='twitter:title', content='' + data.pension.metadata.metatwittertitle || data.pension.title  + '' )
		meta(name='description' content='' + data.pension.metadata.metadescription + '' )
		meta(property='og:description' , content='' + data.pension.metadata.metafbdescription + '' )
		meta(name='twitter:description', content='' + data.pension.metadata.metatwitterdescription + '' )
		meta(property='og:image' content='' + data.pension.metadata.metafbimageurl + '' )
		meta(name='twitter:image:src' content='' + data.pension.metadata.metatwitterdescription + '' )
		meta(name='twitter:card' , content='' + data.pension.metadata.metatwittercard + '' )
		meta(name='keywords' content='' + data.pension.metadata.metakeywords + '' )
	else
		+postmeta()

block intro
	section.intro.green.text-center
		h1= data.pension.title
	div.grey
		.container
			ul.breadcrumb
				li: a(href='/pension-types') Pension We Review
				li /
				li= data.pension.title

block content
	section
		.container.p3rem
			.row.text-center
				h2=data.pension.title
				div!= data.pension.content
	
	+cta2
