extends ../layouts/default
include ../mixins/cta
block metadata
	if  (data.processes)
		title= data.processes.metadata.metatitle || 'Profile Pension'
		meta(property='og:title' , content='' + data.processes.metadata.metafbtitle + ''  )
		meta(name='twitter:title', content='' + data.processes.metadata.metatwittertitle + '' )
		meta(name='description' content='' + data.processes.metadata.metadescription + '' )
		meta(property='og:description' , content='' + data.processes.metadata.metafbdescription + '' )
		meta(name='twitter:description', content='' + data.processes.metadata.metatwitterdescription + '' )
		meta(property='og:image' content='' + data.processes.metadata.metafbimageurl + '' )
		meta(name='twitter:image:src' content='' + data.processes.metadata.metatwitterdescription + '' )
		meta(name='twitter:card' , content='' + data.processes.metadata.metatwittercard + '' )
		meta(name='keywords' content='' + data.processes.metadata.metakeywords + '' )
	else
		+postmeta()
block intro
	section.intro.green.text-center
		h1= data.privacypolicy.title
		h3= data.privacypolicy.longtitle
	section.grey
		ul.container.breadcrumb
			li= data.privacypolicy.breadcrumbstitle
block content
	section.p3rem
		.container.text-center
			.row
				h2= data.privacypolicy.title
				.col-md-12!= data.privacypolicy.content

	+cta
