extends ../layouts/default
block metadata
	if  (data.category)
		title=data.category ? data.category.name : 'Content Hub' || 'Profile Pension'
		meta(property='og:title', content="" +data.category.metatitle  )
		meta(name="twitter:title", content='#{data.category.metatwittertitle}' )
		meta(name="description" content='#{data.category.metadescription}' )
		meta(property="og:description" , content='#{data.category.metafbdescription}' )
		meta(name="twitter:description", content='#{data.category.metatwitterdescription}' )
		meta(property="og:image" content='#{data.category.metafbimageurl}' )
		meta(name="twitter:image:src" content='#{data.category.metatwitterdescription}' )
		meta(name="twitter:card" , content="#{data.category.metatwittercard}" )
		meta(name="keywords" content="#{data.story.metakeywords}" )
	else
		+storymeta()
		
mixin story(story)
	.story(data-ks-editable=editable(user, { list: 'Story', id: story.id }))
		div.row.advice
			if story.image.exists
				a.col-md-12.col-md-5.advice-image(href='/news/story/' + story.slug)(style="background-image: url("+story._.image.fit() +");" )
				
			div.col-md-7.advice-content
				h2.advice-title: a(href='/content-hub/story/' + story.slug)= story.title
				div.advice-meta
					if story.publishedDate
						span.advice-meta__date #{story._.publishedDate.format('DD/MM/YYYY')}
					if story.author.name.first
						span.advice-meta__author #{story.author.name.first}
				p.advice-text!= story.content.brief
				div.share
					span Share | 
					a(href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.profilepensions.co.uk%2F' + story.slug + '' target="_blank" style="font-size: 18px;")
						i.fitted.fa.fa-facebook.f.icon
					a(href='https://twitter.com/home?status=https%3A%2F%2Fwww.profilepensions.co.uk%2F' + story.slug + '' target="_blank" style="font-size: 18px;")
						i.fitted.fa.fa-twitter.icon
					a(href='https://plus.google.com/share?url=https%3A%2F%2Fwww.profilepensions.co.uk%2F' + story.slug+ '' target="_blank" style="font-size: 18px;")
						i.fitted.fa.fa-google-plus.icon
					a(href='https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.profilepensions.co.uk%2F' + story.slug + '&amp;title=' + story.title + '+-+Profile+Pensions&amp;summary=&amp;source=" target="_blank" style="font-size: 18px;')
						i.fitted.fa.fa-linkedin.icon
					a(href='mailto:?body=https%3A%2F%2Fwww.profilepensions.co.uk%2F' + story.slug + '' style="font-size: 18px;")
					
block intro
	section.intro.green.text-center
		h1= data.category ? data.category.name : 'News'
		h3 Please let us know who you are (click on a category below), alternatively, please find our most recent content below
	div.grey
		.container
			ul.breadcrumb
				li: a(href='/news') News
				li   /  
				li= data.category ? data.category.name : 'News '
				.pull-right
					if data.categories.length
						span
							a(href='/news', class=!data.category ? 'active' : false) All Categories  /  
						each cat in data.categories
							a(href='/news/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).span= cat.name +' /  '	
			
block content
	.container
		.row
			.col-sm-8.col-md-9.border-right
				if filters.category && !data.category
					h3.text-muted Invalid Category.
				else
					if data.storys.results.length
						if data.storys.totalPages > 1
							h4.text-weight-normal Showing 
								strong #{data.storys.first}
								|  to 
								strong #{data.storys.last}
								|  of 
								strong #{data.storys.total}
								|  news.
						else
							h4.text-weight-normal Showing #{utils.plural(data.storys.results.length, '* news')}.
						.row
							each story in data.storys.results
								.col-md-6.col-sm-12.equal
									+story(story)
						
						if data.storys.totalPages > 1
							ul.pagination
								if data.storys.previous
									li: a(href='?page=' + data.storys.previous): i.fa.fa-angle-left
								else
									li.disabled: a(href='?page=' + 1): i.fa.fa-angle-left
								each p, i in data.storys.pages
									li(class=data.storys.currentPage == p ? 'active' : null)
										a(href='?page=' + (p == '...' ? (i ? data.storys.totalPages : 1) : p ))= p
								if data.storys.next
									li: a(href='?page=' + data.storys.next) Next page
										i.fa.fa-angle-right 
								else
									li.disabled: a(href='?page=' + data.storys.totalPages) Next page
										i.entypo.fa.fa-angle-right
					else
						if data.category
							h3.text-muted There are no news in the category #{data.category.name}.
						else
							h3.text-muted There are no news yet.
			.col-sm-4.col-md-3.sidebar
				div.subscribe.area
					h2 Subscribe to our Newsletter
					<form class="mailchimp form" id="sidebarSubscription">
					<input type="text" name="firstname" placeholder="First Name" required="">
					<input type="text" name="lastname" placeholder="Last Name" required="">
					<input type="email" name="email" placeholder="Email" required="">

					<button type="submit" value="Subscribe" class="btn btn-primary center">Subscribe <i class="fa fa-envelope"></i></button>
					</form>
					<hr>
				div.twitter.area
					h6
						<i class="fa fa-twitter icon"></i> @ProfilePensions
					ul.crossfade
						li Delighted to announce that David Jackman, former FSA Head of Ethics, has joined our @profilepensions board!
						li Delighted to announce that David Jackman, former FSA Head of Ethics, has joined our @profilepensions board!
					<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" style="position: static; visibility: visible; width: 152px; height: 20px;" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.9384f3649360e38a7002082a80b92414.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=profilepensions&amp;show_count=false&amp;show_screen_name=true&amp;size=m&amp;time=1502283540934" data-screen-name="profilepensions"></iframe>	
					<hr>
				div.facebookarea
					<div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://staticxx.facebook.com/connect/xd_arbiter/r/XBwzv5Yrm_1.js?version=42#channel=f3fd24e1f02780c&amp;origin=https%3A%2F%2Fwww.profilepensions.co.uk" style="border: none;"></iframe></div></div></div>	
					<div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/ProfilePensions/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=249&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FProfilePensions%2F&amp;locale=en_GB&amp;sdk=joey&amp;show_facepile=false&amp;small_header=false&amp;tabs=timeline"><span style="vertical-align: bottom; width: 249px; height: 500px;"><iframe name="f22c6dd800e1e68" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.8/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FXBwzv5Yrm_1.js%3Fversion%3D42%23cb%3Df11ac0a2e8b4a8%26domain%3Dwww.profilepensions.co.uk%26origin%3Dhttps%253A%252F%252Fwww.profilepensions.co.uk%252Ff3fd24e1f02780c%26relation%3Dparent.parent&amp;container_width=249&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FProfilePensions%2F&amp;locale=en_GB&amp;sdk=joey&amp;show_facepile=false&amp;small_header=false&amp;tabs=timeline" style="border: none; visibility: visible; width: 249px; height: 500px;" class=""></iframe></span></div>
				
				
