extends ../layouts/default
include ../mixins/promises


block intro
	section.intro.green.text-center
		h1 Meet the team 
		h3 Over 120 people helping you make sense of your pension
	div.grey
		ul.container.breadcrumb
			li: a(href='/meet-the-team') Meet the team

block content
	if data.categories.length
		each category in data.categories
			section.p3rem
				.container
					.row.text-center.row-centered
						h2.col-md-12= category.categorytitle
						p.col-md-12= category.description
						each teamMember in data.teamMembers
							.col-md-3
								if teamMember.categories.indexOf(category._id) > -1
									span
										img(src=teamMember._.teamMemberImage.fit(150, 150)).ing-responsive.rounded-circle
									a(href='http://localhost:3000/meet-the-team/' + teamMember.slug)
										h3= teamMember.title
									p= teamMember.jobtitle
	section.p3rem
		.container
			.row
				.col-md-6.col-sm-12
					a.col-md-12(href="https://www.youtube.com/embed/B0s4Ef1kEeY?rel=0" data-lity="")
						img.img-responsive.col-md-12(src="https://www.profilepensions.co.uk/wp-content/uploads/2016/09/Video-Thumbnail.jpg")
				.col-md-6.col-sm-12
					h2 The Profile Pensions Team
					p This is a video of some of our team. They’re all committed to delivering an outstanding experience with Profile Pensions. If at any stage your experience falls short you can contact them directly. (They also like hearing when their team’s done well).
	section.grey.p3rem
		.container
			.row.text-center
				.col-md-12
					h2 Need To Track Down Your Pensions?
					p Get impartial advice to maximise the value of your pension, reduce charges and get you access to your cash when you need it.
					p We find a better pension for 7 out of every 10 people we speak to.
					a.btn.btn-lg.btn-primary(href='/get-started-trace/') Find Pensions

	+promises
