extends ../layouts/default
block metadata
	if  (data.teamMember)
		title= data.teamMember.metatitle || 'Profile Pension'
		meta(property='og:title', content="" +data.teamMember.metatitle  )
		meta(name="twitter:title", content='#{data.teamMember.metatwittertitle}' )
		meta(name="description" content='#{data.teamMember.metadescription}' )
		meta(property="og:description" , content='#{data.teamMember.metafbdescription}' )
		meta(name="twitter:description", content='#{data.teamMember.metatwitterdescription}' )
		meta(property="og:image" content='#{data.teamMember.metafbimageurl}' )
		meta(name="twitter:image:src" content='#{data.teamMember.metatwitterdescription}' )
		meta(name="twitter:card" , content="#{data.teamMember.metatwittercard}" )
		meta(name="keywords" content="#{data.teamMember.metakeywords}" )
	else
		+postmeta()

block intro
	section.intro.green.text-center
		h1= data.teamMember.fullname
		h3
	div.grey
		ul.container.breadcrumb
			li: a(href='/meet-the-team') &larr; Meet the team
			li   /  
			li= data.teamMember.title
block content
	.container.p3rem
		.row
			.col-md-2.col-xs-4
				img(src=data.teamMember._.teamMemberImage.fit(150, 150)).ing-responsive.rounded-circle
			.col-md-5.col-xs-8.border-right
				h2= data.teamMember.fullname
				p= data.teamMember.jobtitle
				p= data.teamMember.description
			.col-md-4.col-xs-12
				h2 My Qualifications
				ul.profile-list.border-bottom
					li= data.teamMember.qualification
				h2 Contact 
				div: i.fa.fa-phone.text-green: span= data.teamMember.phone
				div: i.fa.fa-envelope.text-green: span=data.teamMember.mail
				
