extends ../layouts/default
block metadata
	if  (data.teamMember)
		title= data.teamMember.metadata.metatitle || 'Profile Pension'
		meta(property='og:title' , content='' + data.teamMember.metadata.metafbtitle + ''  )
		meta(name='twitter:title', content='' + data.teamMember.metadata.metatwittertitle + '' )
		meta(name='description' content='' + data.teamMember.metadata.metadescription + '' )
		meta(property='og:description' , content='' + data.teamMember.metadata.metafbdescription + '' )
		meta(name='twitter:description', content='' + data.teamMember.metadata.metatwitterdescription + '' )
		meta(property='og:image' content='' + data.teamMember.metadata.metafbimageurl + '' )
		meta(name='twitter:image:src' content='' + data.teamMember.metadata.metatwitterdescription + '' )
		meta(name='twitter:card' , content='' + data.teamMember.metadata.metatwittercard + '' )
		meta(name='keywords' content='' + data.teamMember.metadata.metakeywords + '' )
	else
		+postmeta()

block intro
	section.intro.green.text-center
		h1= data.teamMember.fullname
		h3
	div.grey
		ul.container.breadcrumb
			li: a(href='/meet-the-team') &larr; Meet the team
			li   /  
			li= data.teamMember.title
block content
	.container.p3rem
		.row
			.col-md-2.col-xs-4
				img(src=data.teamMember._.teamMemberImage.fit(150, 150)).ing-responsive.rounded-circle
			.col-md-5.col-xs-8.border-right
				h2= data.teamMember.fullname
				p= data.teamMember.jobtitle
				p= data.teamMember.description
			.col-md-4.col-xs-12
				h2 My Qualifications
				ul.profile-list.border-bottom
					li= data.teamMember.qualification
				h2 Contact 
				div: i.fa.fa-phone.text-green: span= data.teamMember.phone
				div: i.fa.fa-envelope.text-green: span=data.teamMember.mail
				
