extends ../../layouts/default

block content 
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/portfolio') ← back to the portfolio
			hr
			
			h1= data
			
			- console.log(h1= data)
				
			script.
				console.log(!{JSON.stringify(data)})	
				
			//h1    = data.portfolio.title
			//// if portfolio.image.exists
			//	p hello
			//	// img(src=post._.image.fit(160, 160)).img.pull-right
			//// if post.image.exists
			////	p hello
			//	//.image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
			//if !data.post
			//	h2 Invalid Post.
			//else
			//	header
			//		h1= data.post.title
			//		h5 Posted
			//			if data.post.publishedDate
			//				| on #{data.post._.publishedDate.format('MMMM Do, YYYY')}
			//			if data.post.author
			//				| by #{data.post.author.name.first}
			//	.post
			//		!= data.post.content.full
