extends ../../layouts/default

block intro
	.container
		h1 page title
		h3 page subtitle

block content
	.container
		.row
			h1 Our Leadership Team
			p Our leadership team oversee our entire operation to make sure it's simple, effective and works for you!
			.col
				if teamMembers.length
					each teamMember in teamMembers
						img(src=teamMember.teamMemberImage)
						h2= teamMember.fullname
						p= teamMember.jobtitle
				else
					h3.text-muted There are no team member yet.
	.container.grey
		.row
			h1 Our Leadership Team
			p Our leadership team oversee our entire operation to make sure it's simple, effective and works for you!
			.col
				if teamMembers.length
					each teamMember in teamMembers
						img(src=teamMember.teamMemberImage)
						h2= teamMember.fullname
						p= teamMember.jobtitle
				else
					h3.text-muted There are no team member yet.

	.container
		.row
			.col-md-5
				video
			.col-md-7
				h2 The Profile Pensions Team
				p desc
	.container.grey
		.row
			.col-md-12
				h2 Need To Track Down Your Pensions?
				p desc
	section.promise
		.container.text-center
			h2 Our promise to you
			div.row
				div.col-md-4
					svg.sprite-check-lg.svgyellow <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tick" viewBox="0 0 29.98 27.81"></use>
					span.company-features__item We are not tied to anyone and work in your best interest
				div.col-md-4
					svg.sprite-check-lg.svgyellow <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tick" viewBox="0 0 29.98 27.81"></use>
					span.company-features__item We are not tied to anyone and work in your best interest
				div.col-md-4
					svg.sprite-check-lg.svgyellow <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tick" viewBox="0 0 29.98 27.81"></use>
					span.company-features__item We are not tied to anyone and work in your best interest			
